
modules = ["dotnet-8.0", "web", "nodejs-20"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Run MVC Application"

[[workflows.workflow]]
name = "Run WebAppAPI"
author = 33598459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd WebAppAPI"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"

[[workflows.workflow]]
name = "Run Solution"
author = 33598459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --project WebAppAPI"

[[workflows.workflow]]
name = "Run Application"
author = 33598459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet tool install --global dotnet-ef --version 8.0.8"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --project WebAppAPI"

[[workflows.workflow]]
name = "Run MVC Application"
author = 33598459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"$PATH:/home/runner/.dotnet/tools\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --project MvcWebApplication"
